body {
  font-family: 'Poppins', sans-serif;
  background: #f4f6f9;
  margin: 0; /* Đảm bảo không có khoảng trắng thừa */
}

.navbar {
  background: #007bff;
}

.card {
  border: none;
  border-radius: 10px;
}

.btn-primary {
  background: #007bff;
  border: none;
}

.btn-success {
  background: #28a745;
}

.alert {
  border-radius: 8px;
}